.searchCont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    color: black;
    width: 50%;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    opacity: 0.65;
    border-radius: 5px;
    border: #8e8e8e solid 2px;
}
.input:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.button {
    font-size: 20px;
    border: #8e8e8e solid 2px;
    border-radius: 8px;
    background-color:  #1bf234;
    opacity: 0.7;
    margin: 0 10px;
}
.button:hover {
    opacity: 1;
    transition: 0.5s;
    transform: scale(1.1);
    color: white;
}

