

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url(./Images/body.jpg);
  background-size: 100%;

}

.contCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.second {
  padding: 50px;
}

